<h1>Hello!</h1>

<%= render 'counter', title: 'Counter 1' %>
<%= render 'counter', title: 'Counter 2' %>
<%= render Counter::Component.new(title: 'Counter 3') %>
<%= render Counter::Component.new(title: 'Counter 4') %>
